body{
    width: 90%;
    margin: 0 auto;
    box-sizing: border-box;
}

.masthead {
    height: 100vh;
    min-height: 500px;
    background-image: url('./assets/kitsune.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }

.mio-font{
    font-size: 50px;
}

.margine{
    margin-bottom: 80px;
}

.modal-content{
    background-color: brown;
}

.bg-brown{
    background-color: brown;
}