body{
    width: 90%;
    margin: 0 auto;
}

.img-header{
    background-image: url("https://picsum.photos/1920/400");
    height: 400px;
    background-repeat: no-repeat;
    background-size: cover;
    margin-bottom: 100px;
}



.margine{
    margin-bottom: 80px;
}

.sfondo{
    background-color: black;
    padding: 50px;
}

.resizing {
    width: 30%;
    height: 600px;
}